/* Student Names: Gerrod Wagner; Nathan Price; Vania Lee
  Today's Date: 02/08/2021
  File Name: StyleSheet.html
  */
  
  
  /* CSS Reset Rule */
  body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Style rules for images */
img {
    max-width: 100%;
    display: block;

}


/* Style rules for header content */
header {
    text-align: center;
    font-size: 3em;
    color: ;
}
 
header h2 {
    font-family: Copperplate, Arial, Verdana;
}


/* Style rules for navigation area */
nav {
    background-color: ;
}
 
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
 



/* Style rules for main content */
main {
    padding: 3%;
    background-color: ;
    overflow: auto;
    font-size: 2em;
    font-family: Verdana, Arial, Times New Roman;
}

#Welcome {
          background-color: ;
          font-size: 1.5em
          color: ;
  
          
}

#Pros of Cryptocurrency {
                    background-color: ;
                    color:; 
                    font-size: 1.5em
  
} 

.action  {
  font-style: italic;
  text-decoration: none;
  color: #ff3300;
  

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.5em;
    clear: left;  
}
 


  
   
